.table {
	display: grid;
	grid-template-rows: 20px 300px;
	padding: 5px;
	&__container {
		margin: 7px;
		border: 1px solid rgb(102, 102, 102);
		border-radius: 6px;
	}
	&__header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: rgb(102, 102, 102);
		&_light {
			background-color: rgb(165, 164, 164);
		}
	}
	&__caption {
		color: rgba(215, 219, 222, 0.789);
		margin: 0;
		&_light {
			color: #000;
		}
	}
	&__employe {
		display: flex;
		gap: 105px;
		align-items: center;
	}

}
