// @import '../../../styles/variables.scss';

.select {
	&__arrow,
	&__arrowOpen {
		position: absolute;
		font-size: 0;
		top: 50%;
		right: 14px;
		transform: translateY(-50%) rotate(0);
		transition: transform 0.3s ease 0s;
	}

	&__arrowOpen {
		transform: translateY(-50%) rotate(180deg);
	}
}

.select__arrow_container {
	position: absolute;
	top: 0px;
	left: 164px;
	height: 28px;
	border-radius: 0px 4px 4px 0px;
	width: 50px;
	background-color: #666666;
}

.select {
	position: relative;
	width: 250px;
	&__container {
		display: flex;
		column-gap: 15px;
		position: relative;
		margin-top: 5px;
	}
	&__select {
		position: relative;
		flex: 1 0 120px;
		height: 30px;
		border-radius: 6px;
		background-color: rgb(48, 47, 47);
		padding: 5px 0 0px 7px;
		border: 1px solid rgb(102, 102, 102);
		width: 100%;
		caret-color: green;
		color: #d7dbdec9;
		cursor: pointer;
		&_placeholder {
			color: rgba(215, 219, 222, 0.789);
		}
		&:hover,
		&:focus {
			border-color: green;
		}
		&_light {
			background-color: #fff;
		}
	}
	&__input {
		width: 100%;
	}
	&__date {
		display: flex;
		align-items: center;
		column-gap: 7.5px;
		img {
			border-radius: 3px;
			max-height: 21px;
			width: 100%;
			max-width: 21px;
		}
	}

	&__dropdown {
		position: absolute;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		row-gap: 2px;
		padding: 10px 6px;
		max-height: 290px;
		background-color: rgb(48, 47, 47);
		border-radius: 0 0 15px 15px;
		overflow-y: auto;
		width: 217px;
		z-index: 4;
		&::-webkit-scrollbar {
			width: 4px;
			height: 18px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			width: 4px;
			background: rgba(217, 217, 217, 1);
		}
		&_light {
			background-color: #fff;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		padding: 9px 6px 9px 7.5px;
		height: 25px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.29;
		color: rgba(215, 219, 222, 0.789);
		cursor: pointer;
		&_active {
			color: green;
		}
		&:hover {
			background: rgba(33, 33, 34, 0.789);
			border-radius: 7px;
		}
		&:active {
			color: rgba(33, 33, 34, 0.789);
		}
		&_light {
			background-color: #fff;
			border-radius: 7px;
		}
	}

	&__date {
		display: flex;
		column-gap: 10px;
		align-items: center;
		img {
			border-radius: 3px;
			width: 100%;
			max-width: 21px;
		}
	}
}
