.table {
	&__caption {
		margin: 0;
	}
	&__employe {
		color: rgba(215, 219, 222, 0.789);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		justify-content: left;
		&_light {
			color: #000;
		}
	}
}
